@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
	body {
		background-image: linear-gradient(to top, rgb(123, 138, 145), rgb(99, 90, 78));
	}

	section#login {
		width: 90vw;
		height: 280px;
		 /*90% do view width lateral quando virar*/
	}

	section#login > div#imagem {
		float: left;
		width: 30%;
		height: 100%;
		/*quando voce estiver no div#imagem o float vai ser left para jogar a imagem pra esquerda, o width 
		foi setado 30% que vai ser o quanto que vai aparecer da imagem, e o height tambem a mesma logica*/
	}
	section#login > div#formulario {
		float: right;
		width: 70%;
		/*esse eh o div do formulario colocando o float para o outro lado e mostrando que o width vai cobrir 
		os outros 70%*/
	}
}

@media screen and (min-width:992px) {
	body {
		background-image: linear-gradient(to top, rgb(123, 138, 145), rgb(99, 90, 78));
	}
	section#login {
		width: 90vw;
		height: 300px;
	}
	section#login > div#imagem {
		float: right;
		width: 40%;
		height: 100%;
	}
	section#login > div#formulario {
		float: left;
		width: 60%;
	}
}