@charset "UTF-8";

* {
	font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*o conteudo fique do tamanho da borda*/
}

/*
Paleta de Cores
Verde : #49a09d
Lilas : #5f2c82 */

body, html {
	background-color: rgb(123, 138, 145);
	height: 100vh;
	width: 100vw;
}

main {
	position: relative;
	height: 100vh;
	width: 100vw;
}

section#login {
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden; /*esconder o fluxo que ultrapassa o sistema de borda*/
	background-color: white;
	width: 250px;
	height: 500px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
	transition-timing-function: height: 0.5s, width: 0.5s;
}

section#login > div#imagem {
	display: block;
	background: #5f2c82 url(../Imagens/predio-pexels.jpg) no-repeat;
	background-size: cover; /*setar em cover ficou melhor*/
	background-position: left bottom;
	height: 200px;
	text-align: justify;
}

section#login > div#formulario {
	display: block;
	padding: 10px;
}

section#login h1 {
	text-align: center;
}

form > div.campo {
	background-color: rgb(118, 141, 140);
	padding-top: 5px;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
	height: 40px;
	font-size: 0.7em;
	box-shadow: inset -1px 1px 3px 0px darkgray;
}

form > input.botao {
	display: block;
	width: 100%;
	height: 40px;
	border: none;
	color: white;
	font-weight: bolder;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgb(11, 91, 87);
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 2px 3px 0px black;
}

form > input.botao:hover {
	background-color: rgb(32, 37, 34);
}

form > a.esqueci {
	padding-top: 7px;
	text-align: center;
	color: white;
	font-weight: bolder;
	display: block;
	text-decoration: none;
	font-size: 1em;
	margin-top: 5px;
	width: 100%;
	height: 40px;
	background-color: rgb(11, 91, 87);
	border-radius: 5px;
	box-shadow: 0px 2px 3px 0px black;
}

form > a.esqueci:hover {
	background-color: rgb(32, 37, 34);
}

form > a.esqueci > span {
	font-size: 0.9em;
}

div.campo > label {
	display: none;
}






